
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
  color: #fff;
  background-color: $hoverColour;
  border-color: $hoverColour;
}

.main-header {
  padding-top: 100px;
}

.comment-icon  {
  background: url("/img/ico-logout.png") no-repeat;
}

a, a:hover {
  color: inherit;
}

.user-color, .user-color:hover, .user-color:active, user-color:visited{
  color: $userColour;
}

.rounded-pagination > a, .rounded-pagination > span  {
   border-radius: 50% !important;
   margin: 0 5px;
}

.page-item.active .page-link, .page-link:hover {
  z-index: 1;
  color: #fff;
  background-color: $hoverColour;
  border-color: $hoverColour;
}
.pagination>li.active>a {
  background: $hoverColour;
  color: #fff;
}

.page-link-nav {


  position: relative;
  display: block;
  padding: 0.5rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $hoverColour;
  background-color: inherit;
  border: none;
}

.page-item-nav.active .page-link-nav, .page-link-nav:hover {
  z-index: 1;
  color: $hoverColour;
  background-color: inherit;
  border: none;
  text-decoration: underline;
}

.page-item-nav.disabled .page-link-nav {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: inherit;
  border: none;
}

.no-bg {
  background-color: #FFFFFF !important;
}

.bg-colour{
  background-color: $backgroundColour;
}

.dot-sign:before {
  content: " \B7 ";
  padding-left: 5px;
  margin-right: 5px;
}
.issue-state-button{
  border-radius: 3px;
  padding: 5px 10px;
  background-color: $hoverColour;
  color: #FFFFFF;
}
.issue-text{
  line-height:3;
}
.main-login-button {
  color: #fff;
  background-color: $mainButtonHoverColour;
  border-color: $mainButtonHoverColour;
  padding: 20px 150px;
}

.login-bg{
  background:url("../img/bg.png") no-repeat !important;
  padding-top:100px;
  background-size:cover;

}