
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
  color: #fff;
  background-color: $hoverColour;
  border-color: $hoverColour;
}

.main-header {
  padding-top: 100px;
}

.comment-icon  {
  background: url("/img/ico-logout.png") no-repeat;
}

a, a:hover {
  color: inherit;
}

.user-color, .user-color:hover, .user-color:active, user-color:visited{
  color: $userColour;
}

.rounded-pagination > a, .rounded-pagination > span  {
   border-radius: 50% !important;
   margin: 0 5px;
}

.page-item.active .page-link, .page-link:hover {
  z-index: 1;
  color: #fff;
  background-color: $hoverColour;
  border-color: $hoverColour;
}
.pagination>li.active>a {
  background: $hoverColour;
  color: #fff;
}

.page-link-nav {


  position: relative;
  display: block;
  padding: 0.5rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $hoverColour;
  background-color: inherit;
  border: none;
}

.page-item-nav.active .page-link-nav, .page-link-nav:hover {
  z-index: 1;
  color: $hoverColour;
  background-color: inherit;
  border: none;
  text-decoration: underline;
}

.page-item-nav.disabled .page-link-nav {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: inherit;
  border: none;
}

.no-bg {
  background-color: #FFFFFF !important;
}

.bg-colour{
  background-color: $backgroundColour;
}

.dot-sign:before {
  content: " \B7 ";
  padding-left: 5px;
  margin-right: 5px;
}
.issue-state-button{
  border-radius: 3px;
  padding: 5px 10px;
  background-color: $hoverColour;
  color: #FFFFFF;
}
.issue-text{
  line-height:3;
}
.main-login-button {
  color: #fff;
  background-color: $mainButtonHoverColour;
  border-color: $mainButtonHoverColour;
  padding: 15px 100px;
}

.login-bg{
  background:url("../img/bg.png") no-repeat !important;
  padding-top:100px;
  background-size:cover;
}

.small-img {
  height: 50px;
}
.card-header:before {

  z-index: -1;
  position: absolute;
  top: 15px;
  left: 0%;
  margin-left: -10px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #FFFFFF;
  border-bottom: 10px solid transparent;

}

.card-border {
  border: 1px solid $backgroundColour;
  box-shadow: 1px 1px $backgroundColour;
}
.card-border-bottom {
  border-bottom: 1px solid $backgroundColour;
}

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.scrollable{
  height:550px;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}